<!doctype html>
<html>
<head>
  <title>{{diag}} API</title>
  <meta charset="UTF-8">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
  <script type="text/javascript">
    function getUnixTime() {
      return parseInt((new Date/1000));
    }

    var enter = 13;

    $(function(){
      var diag_id = '';
      $.get(
        '/api/{{diag}}/{{diag_id}}',
        {},
        function(data, status) {
          var url = $(data).find("url").text();
          if (url != "None") {
            $("#result").attr("src", url);
            $("#src").text($(data).find('src').text());
          }
          diag_id = $(data).find("id").text();
        },
        "xml"
      );

      $("#src").live("keyup", function(e){
        if (e.keyCode == enter) {
          $.ajax({
            "url": '/api/{{diag}}/' + diag_id,
            "data": { "src": $('#src').val() },
            "type": "PUT",
            "cache": false,
            "success": function(data, status) {
              var url = $(data).find("url").text();
              if (url != "None") {
                $("#result").attr("src", url + '?' + getUnixTime());
              }
            }
            });
          }
        });
    });
  </script>
</head>
<body>
  <header>
    <nav>
    {% if diag == "blockdiag" %}blockdiag{%else%}<a href="/blockdiag">blockdiag</a>{% endif %} |
    {% if diag == "seqdiag" %}seqdiag{%else%}<a href="/seqdiag">seqdiag</a>{% endif %} |
    {% if diag == "actdiag" %}actdiag{%else%}<a href="/actdiag">actdiag</a>{% endif %} |
    {% if diag == "nwdiag" %}nwdiag{%else%}<a href="/nwdiag">nwdiag</a>{% endif %}
    </nav>
    <h1>{{diag}} API</h1>
  </header>
  <section>
  <article>
  <textarea id="src" name="src" rows="10" cols="40"></textarea>
  <br/>
  <img id="result" src=""/>
  </article>
  </section>
  </body>
</html>
