<!doctype html>
<html>
<head>
  <title>{{diag}} API</title>
  <meta charset="UTF-8">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
  <script type="text/javascript">
    function getUnixTime() {
      return parseInt((new Date/1000));
    }
    $(function(){
      var diag_id = '';
      $.post(
        '/api/{{diag}}',
        {
          "src": $('#src').val()
        },
        function(data, status) {
          var url = $(data).find("url").text();
          if (url != "None") {
            $("#result").attr("src", url);
          }
          diag_id = $(data).find("id").text();
        },
        "xml"
      );

      $("#src").live("keyup", function(){
        $.ajax({
          "url": '/api/{{diag}}/' + diag_id,
          "data": { "src": $('#src').val() },
          "type": "PUT",
          "cache": false,
          "success": function(data, status) {
            var url = $(data).find("url").text();
            if (url != "None") {
              $("#result").attr("src", url + '?' + getUnixTime());
            }
          }
          });
        });
    });
  </script>
</head>
<body>
  <header>
    <nav>
    {% if diag == "blockdiag" %}blockdiag{%else%}<a href="/blockdiag">blockdiag</a>{% endif %}|
    {% if diag == "seqdiag" %}seqdiag{%else%}<a href="/seqdiag">seqdiag</a>{% endif %}|
    {% if diag == "actdiag" %}actdiag{%else%}<a href="/actdiag">actdiag</a>{% endif %}
    </nav>
    <h1>{{diag}} API</h1>
  </header>
  <section>
  <article>
  <textarea id="src" name="src" rows="10" cols="40">{{ data }}</textarea>
  <img id="result" src=""/>
  </article>
  </section>
  </body>
</html>
